@using Microsoft.AspNet.Identity
@using BigStonks.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonks For Days</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/bootstrap-light.css">

    @if (Request.IsAuthenticated)
    {

        
        ApplicationDbContext ctx = new ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var user = ctx.Users.Find(userId);
        if (user.EnableDarkMode)
        {
            <link rel="stylesheet" href="~/Content/bootstrap-dark.css">
        }
        else
        {
            <link rel="stylesheet" href="~/Content/bootstrap-light.css">
        }
        

    }

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        @using (Html.BeginForm("Index", "Stock", FormMethod.Get))
                        {
                            @Html.TextBox("searching", null, new { @class = "form-control rounded", @style = "height:60px" })
                        }
                    </li>
                    <li><a href="@Url.Action("Index", "Home")" class="fas fa-home fa-3x" style="padding-top:20px"></a></li>
                    <li>
                        <a href="@Url.Action("Index", "Stock")"> Stocks </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:15px">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
