@using Microsoft.AspNet.Identity
@using BigStonks.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG STONKS</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Content/bootstrap-light.css">

    @if (Request.IsAuthenticated)
    {

        ApplicationDbContext ctx = new ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var user = ctx.Users.Find(userId);
        if (user.EnableDarkMode)
        {
            <link rel="stylesheet" href="~/Content/bootstrap-dark.css">
        }
        else
        {
            <link rel="stylesheet" href="~/Content/bootstrap-light.css">
        }

    }

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <!--<form >
                        <input class="form-control-static" type="text" placeholder="Search" aria-label="Search" style="margin:10px 20px 10px 20px; width:100%; text-align:center" />
                            -->
                        @using (Html.BeginForm("Index", "Stock", FormMethod.Get))
                        {
                            @Html.TextBox("searching")<input type="submit" value="Search" />
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:15px">
        
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
